body {
    background-color: #00ffff;
}

/* main index layout */

.container {
    display: flex;
}

.container__half {
    flex: 1;
}

.top_right {
    position: sticky;
    /* top: 0 - 70 */
    /* right: 50 - 100 */
}

.bottom_right {
    position: sticky;
    /* top: 70 - 100 */
    /* right: 50 - 100 */
}

/* end */

/* checkout form */

.checkout {
    position: fixed;/* or absolute */
    top: 50%;
    left: 50%;
    background-color: grey;
}