/* Lists of CSS 5.0 Documentation used:
    CSS 5.0 Pulse Showcase: https://bootswatch.com/pulse/ 
    CSS 5.0 Pulse CSS: https://bootswatch.com/5/pulse/bootstrap.css
    CSS 5.0 Documentation: https://getbootstrap.com/docs/5.0/
    CSS 5.0 Examples: https://getbootstrap.com/docs/5.0/examples/cheatsheet/
    CSS 5.0 Cheat Sheets: https://bootstrapcreative.com/resources/bootstrap-5-cheat-sheet-classes-index/
*/

/* Local CSS starting after this point */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 10px;
}

footer {
    width: 100%;
    bottom: 0px;
    text-align: center;
    position: fixed;
    margin: 0;
    padding: 0;    
    text-align: center;
    position: fixed;
    bottom: 0px;
    color: rgba(255, 255, 255, 0.55);

}