body {
    background-color: #00ffff;
}


.grid-container {
    position: absolute;

    grid-template-areas:
        "left-hand right-hand"
        "left-hand top-right"
        "left-hand bottom-right";

}

.left-hand {
    position: absolute;
}

.right-hand {
    position: absolute;
}

.top-right {
    position: absolute;

}

.bottom-right {
    position: absolute;

}